body {
	font-family: 'Josefin Sans', sans-serif;
	margin-left: 95px;
}

img {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	margin: 25px 0 25px 25px;
}

h1 {
	font-size: 1em;
	margin-left: 12px;
}

h1, .searchbar {
	display: inline;
}

input {
	width: 200px;
}

button[type= reset], .no-match {
	margin-left: 10px;
}

.searchbar {
	position: absolute;
	right: 108px;
}

.name, .city, .address {
	text-transform: capitalize;
}

.email, .city, hr, .username, .number, .country, .address, .DOB {
	color: grey;
}

.employee-profile {
	float: left;
	height: 125px;
	width: 340px;
	border: 2px solid lightgrey;
	border-radius: 10px;
	margin: 6px 8px;
}

.profile-picture {
	float: left;
}

.contact-info {
	float: right;
	width: 200px;
	font-size: 16px;
	margin: -8px 15px 0 0;
	line-height: 0.5;
	
}

.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.05);

}

.modal-content{
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 10px;
	width: 25%;
	text-align: center;
}


.left-arrow, .right-arrow {
    height: 30px;
    width: 30px;
}

.left-arrow:hover, .right-arrow:hover {
	opacity: .5;
}

.left-arrow {
	float: left;
    margin: -40px 0px 0px -10px;
}

.right-arrow {
	float: right;
    margin: -40px -10px 0px -0px;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}